/*  styles for ct.com project*/

h4, h5, h6 { margin-bottom: 15px; }
.caps { font-variant:small-caps; }
.sublabel { font-size: 15px; font-family: @sansFontFamily; font-weight: bold; margin-bottom: 12px; }
td.sublabel { padding-left: 15px; }
tr { border-bottom: 1px dotted @grayLight; }
tr:last-child { border-bottom: none; }
/* story body copy paragraph style */
.trib-article p { width: 68%; max-width:680px; font-size: 16px; line-height: 26px; margin-bottom: 22px; }

/* section/chapter title styles */
.section-heading { text-transform:uppercase; font-weight: normal; padding-top: 20px; margin-bottom: 10px; }

/* drop cap styles */
.drop-cap { margin: 0 7px -1px 0; font-size: 325%; line-height: 100%; float: left; }

/* lead in styles */
.trib-article .lead-in p { font-size: 18px; line-height: 30px; }
.lead-in .drop-cap { margin: 0 12px -10px 0; font-size: 515%; line-height: 100%; }

/* breakout/bullet styles */
.trib-article .pull-out { font-family: @sansFontFamily; padding: 20px; border-left: 2px solid @gray; margin: 35px 0; background-color: @grayVeryLight; width: 680px; }
.trib-article .pull-out p { width: 100%; font-size: 16px; line-height: 20px; }
.trib-article .pull-out p:last-child { margin-bottom: 0; }

/* notched media styles */
.trib-media { float: right; width: 55%; margin: 0 0 24px 40px; }
.trib-media.flush { float: none; width: 68%; max-width:680px; margin: 0; }
.trib-media.flush figure { float:right; margin: 0 0 24px 40px; }

/* figure and aside styles */
.media-info { font-family: @sansFontFamily; line-height: 20px; margin: 0; color: @gray; width: 100%; }
.media-wrapper { margin: 0; padding: 15px 0; border-top: 1px solid @grayLighter; border-bottom: 1px solid @grayLighter; }
figure, aside { .media-wrapper; }
figure.left { padding: 5px 0 5px 15px; border-left: 2px solid @grayDarker; border-bottom: none; border-top: none; }
figcaption { .media-info; font-size: 14px; margin-bottom: 10px; }
.media-credit { .caps; font-size: 14px; text-align: right; margin-bottom: 0; }

/* related media styles */
.related-content { font-size: 18px; line-height: 28px; color: @gray; }
.related-feature { border: none; }

/* image styles */
.small-photo { max-width: 300px; }
.medium-photo { max-width: 500px; }
.large-photo { max-width: 620px; }
.trib-img { margin: 0 0 10px 0; max-width: 100% }

/* video styles */
.video-wrapper { position: relative; overflow: hidden; padding-bottom: 50.7%; padding-top: 30px; z-index: 1; }
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index:1; }

/* link styles */
a { color: @blueDark; }
a:hover { color: @grayDark; }
.media-link { font-weight: bold; font-size: 15px; line-height: 20px; font-family: @sansFontFamily; text-align: right; }
.lite-media-link { font-weight: normal; font-size: 16px; line-height: 22px; font-family: @sansFontFamily; }

/* bylines, credits and source line */
.twitter-follow-button { margin: 0 8px -5px 4px; }
.trib-byline { font-family: @sansFontFamily; font-size: 14px; line-height: 20px; }
time { font-style: italic; font-size:13px; }
.credits, time { color: @gray; }

.credits-box { padding: 5px; border: 1px solid @grayLighter; margin-top: 20px; }
.credits-box h4 { text-align: center; margin-left: 11%; }
.credits-group { margin: 0; }
.credits-type { .trib-byline; margin: 0; }
.credits-cat p { .credits-type; text-align: right; font-weight: bold; }
.credits-names p { .credits-type; .caps; }

/* navbar styles */
.container > div { float: left; }
.trib-title { font-size: 16px; line-height: 22px; text-transform:uppercase; margin-right: 20px; }
.trib-title a { color: @grayLight; }
.nav { margin-right: 20px; margin: -2px 0 0; }
.nav-pills>li>a { padding-top: 4px; padding-bottom: 4px; }
.nav-pills>.active>a, .nav-pills>.active>a:hover { background-color: #333; }

/* alternative navbar styles*/
.nav-items-alt>.nav-pills>li>a { text-transform:uppercase; font-style: italic; font-weight: bold; font-size: 13px; color: @gray; }
.nav-items-alt>.nav-pills>.active>a,
.nav-items-alt>.nav-pills>.active>a:hover { background-color: #e5e5e5; color: @grayDark; }


/* colors */
.color-styles { padding: 8px 15px 8px 15px; font-family: @sansFontFamily; color: white; text-align: center; border: 1px solid white; }

.tribblue { background-color: @tribblue; .color-styles; }
.tribblue2 { background-color: @tribblue2; .color-styles; }
.tribbluelite { background-color: @tribbluelite; .color-styles; }
.tribred { background-color: @tribred; .color-styles; }
.tribredlite { background-color: @tribredlite; .color-styles; }
.tribyellow { background-color: @tribyellow; .color-styles; }
.tribyellowlite { background-color: @tribyellowlite; .color-styles; }
.tribgreen { background-color: @tribgreen; .color-styles; }
.tribgreenlite { background-color: @tribgreenlite; .color-styles; }
.tribpurple { background-color: @tribpurple; .color-styles; }










