/* navigation for member center */
.navbar-ct {
    border-bottom: solid 1px @grayLight;
    margin: 2px 0 20px 0;
    padding-bottom:1px;

    .navbar-inner{
        border: 0;
        min-height: 0;
        padding: 12px 0 0 0;
        background: transparent;
        .border-radius(0);
        .box-shadow(transparent 0 0 0);
        border-bottom: solid 2px @black;
        filter:none;
    }

    .nav {
        height:21px;
        margin:0;

        .dropdown-toggle .caret {
            margin-top:4px;
        }

        li.dropdown.open > .dropdown-toggle,
        li.dropdown.active > .dropdown-toggle,
        li.dropdown.open.active > .dropdown-toggle {
            background:transparent;
        }
    }

    .nav > .active > a,
    .nav > .active > a:hover,
    .nav > .active > a:focus {
        background: transparent;
        .box-shadow(inset transparent 0 0 0);
        border-bottom: 3px solid @black;
        padding-bottom: 6px;
    }

    .nav > .active > a > [class^="icon-"],
    .nav > .active > a > [class*=" icon-"],
    [class^="icon-"],
    [class*=" icon-"] {
        margin-top:-4px;
        margin-bottom:-1px;
        background-image:url(../img/glyphicons-halflings.png);
        vertical-align:middle;
    }

    .nav > li {
        border-right: 1px solid @grayVeryLight;
        margin: 8px 0 3px 0;
        height: 10px;

        /* for georgia */
        font-size: 16px;

        > a {
            color: @grayLight;
            line-height:16px;
            margin-top:-12px;
            padding: 0 10px 0;
        }
    }

    .btn-navbar {
        background:transparent;
        padding:0;

        &:hover,
        &:focus {
            background:transparent;
            color:@black;
        }
    }
}

.navbar-ct.navbar-ct-fixed-top {
    margin: 0;
    .navbar-inner {
        background: @white;
        .nav > li {
            border: none;
        }
        .container {
            max-width: 960px;
            margin: 0 auto;
            position: relative;
        }
        .logo {
            border-right: 1px solid @grayLight;
            float: left;
            margin-top: -7px;
            padding-right: 13px;
            img {
                height: 18px;
                width: auto;
            }
        }
        div#ssorNavHeader {
            position: absolute;
            right: 10px;
            top: 0;
            line-height: 12px;
            margin-top: 0;
        }
    }
}

.diamond {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: @black;
    position: relative;
    top: 20px;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -4px;
    top: 4px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: @black;
}

span#sectionBreadcrumb {
    font-family: @serifDisplayFontFamily;
    background: @white url(../img/bg-line.png) no-repeat 0 27px;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 45px;
    line-height: normal;
    width: auto;

    a:link, a:visited {
        padding: 0 20px;
        background: @white;
        text-decoration: none;
        color: @black;
    }
}

@media (max-width: 940px) {
    .navbar-ct.navbar-ct-fixed-top {
        .navbar-inner {
            margin-top: 12px;
        }
    }
}

@media (max-width: 600px) {
    .navbar-ct.navbar-ct-fixed-top {
        .navbar-inner {
            .nav {
                clear: left;
            }
            .logo {
                height: 36px;
                border: none;
            }
        }
    }
}
