/* Color presets
    ------------------ */

$bg-color: white;

$link-color: #005495;
$hover-color: #4c7dae;

$highlight: #fffde5;

$black: #111111;
$white: #ffffff;

// greys
$almost-black: #1a1a1a; //#151515
$darkest-grey: #262626; //#222
$very-dark-grey: #2b2b2b;
$dark-grey: #333333;
$grey: #555; // #444
$light-grey: #757575;
$lighter-grey: #999; // #bebebe
$very-light-grey: #d0d0d0;
$lightest-grey: #eee; // #e5e5e5
$almost-white: #fafafa;

$rule-color: $lighter-grey;
$headline-color: $darkest-grey;
$copy-color: $dark-grey;
$breadcrumb: $light-grey;
$subhead-color: $grey;

$link-color-dark: $dark-grey;
$link-color-dark-hover: $light-grey;

$text-color: $dark-grey;

$light-rule-color: $very-light-grey;
$dark-rule-color: $lighter-grey;

$date-color: $lighter-grey;
$last-updated-color: $light-grey;

$caption-color: $light-grey;
$header-color: $light-grey;
$blockquote-color: $grey;

// Paint it black
/*$background: #1a1a1a*/
/*$wrapper: #262626*/
/*$borders: #555*/
/*$links: #999*/
/*$text: #eee*/

