    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>Chicago Tribune styleguide</h1>
            <p class="lead">Photos, captions, stories and more</p>
        </div>
    </header>

    <div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#headings"><i class="icon-chevron-right"></i> Headings</a></li>
                <li><a href="#story-copy"><i class="icon-chevron-right"></i> Story copy</a></li>
                <li><a href="#media-containers"><i class="icon-chevron-right"></i> Media containers</a></li>
                <li><a href="#photos"><i class="icon-chevron-right"></i> Photos & videos</a></li>
                <li><a href="#related-media"><i class="icon-chevron-right"></i> Related media</a></li>
                <li><a href="#integration"><i class="icon-chevron-right"></i> Integration</a></li>
                <li><a href="#credits-bylines"><i class="icon-chevron-right"></i> Bylines, credits & sourcing</a></li>
                <li><a href="#tables"><i class="icon-chevron-right"></i> Tables</a></li>
                <li><a href="#icons"><i class="icon-chevron-right"></i> Icons</a></li>
                <li><a href="#colors"><i class="icon-chevron-right"></i>Colour</a></li>
								<li><a href="#ads"><i class="icon-chevron-right"></i>Ads</a></li>
            </ul>
        </div>
        <div class="span9">
            <!-- Headings
            ================================================== -->
            <section id="headings">
              <div class="page-header">
                <h1>Headings</h1>
              </div>
              <h2>Adjusted headings</h2>
              <p>HTML headings <code>h4</code> through <code>h6</code> get a reduced <code>margin-bottom</code>.</p>
              <div class="bs-docs-example">
                <h4>h4. Heading 4</h4>
                <h5>h5. Heading 5</h5>
                <h6>h6. Heading 6</h6>
              </div>
              <h2>Section headings</h2>
              <p>Use <code>.section-head</code> on any heading tag, but start with <code>h4</code> and work from there.</p>
              <div class="bs-docs-example">
                <h4 class="section-head">H4 section/chapter heading</h4>
                <h3 class="section-head">H3 section/chapter heading</h3>
                <h5 class="section-head">H5 section/chapter heading</h5>
              </div>
<pre class="prettyprint linenums">
&lt;h4 class="section-head"&gt;&lt;h4&gt;
</pre>
            </section>

            <!-- Story copy
            ================================================== -->
            <section id="story-copy">
              <div class="page-header">
                  <h1>story-copy</h1>
              </div>
              <h2>Story body copy</h2>
              <p>Wrap story elements such as a headline, deck, byline, and story copy in an <code>article</code> tag. <code>p</code> tags and all headings <code>h1</code> through <code>h6</code> have a <code>max-width</code> of <strong>680px</strong>.</p>
              <div class="bs-docs-example">
                <article>
                  <h1>Story headline</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci sapien, ullamcorper at blandit vitae, viverra sed diam. Sed id neque purus. Suspendisse potenti. Donec pretium, nunc quis cursus euismod, nibh lectus luctus sapien, vitae viverra tellus est eget enim. Nulla eu porttitor nulla. Maecenas sed dui et elit commodo interdum. Aliquam consequat ipsum ac lacus venenatis at tincidunt nunc aliquam.</p>
                </article>
              </div>
<pre class="prettyprint linenums">
&lt;article&gt;
  &lt;h1&gt;&lt;/h1&gt;
  &lt;p&gt;&lt;/p&gt;
&lt;/article&gt; 
</pre>

                <h2>Drop caps</h2>
                <p>A drop cap can be used at a start of a section or chapter by including <code>.drop-cap</code> on a <code>p</code> element.</p>
                <div class="bs-docs-example">
                  <article>
                    <p class="drop-cap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci sapien, ullamcorper at blandit vitae, viverra sed diam. Sed id neque purus. Suspendisse potenti. Donec pretium, nunc quis cursus euismod, nibh lectus luctus sapien, vitae viverra tellus est eget enim. Nulla eu porttitor nulla. Maecenas sed dui et elit commodo interdum. Aliquam consequat ipsum ac lacus venenatis at tincidunt nunc aliquam.</p>
                    <p>Aliquam ac augue ac nisi ullamcorper vehicula vel eget tellus. Proin venenatis ullamcorper magna, eget rutrum nunc imperdiet nec. Donec et leo mauris. Pellentesque risus felis, mollis id facilisis at, sollicitudin sit amet augue. Phasellus lobortis ullamcorper odio, eget pharetra neque dictum eget. Morbi dignissim dictum posuere. Aliquam erat volutpat. Nam at massa turpis, et aliquet urna.</p>
                  </article>
                </div>
<pre class="prettyprint linenums">
&lt;p&gt;&lt;class="drop-cap"&gt;&lt;/p&gt; 
</pre>

                <h2>Story intro</h2>
                <p>Add <code>.lead</code> to a <code>p</code> elements to increase <strong>font-size</strong> for paragraphs and drop caps.</p>
                <div class="bs-docs-example">
                  <article>
                    <p class="drop-cap lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam orci sapien, ullamcorper at blandit vitae, viverra sed diam. Sed id neque purus. Suspendisse potenti. Donec pretium, nunc quis cursus euismod, nibh lectus luctus sapien, vitae viverra tellus est eget enim. Nulla eu porttitor nulla. Maecenas sed dui et elit commodo interdum. Aliquam consequat ipsum ac lacus venenatis at tincidunt nunc aliquam.</p>
                    <p>Aliquam ac augue ac nisi ullamcorper vehicula vel eget tellus. Proin venenatis ullamcorper magna, eget rutrum nunc imperdiet nec. Donec et leo mauris. Pellentesque risus felis, mollis id facilisis at, sollicitudin sit amet augue. Phasellus lobortis ullamcorper odio, eget pharetra neque dictum eget. Morbi dignissim dictum posuere. Aliquam erat volutpat. Nam at massa turpis, et aliquet urna.</p>
                  </article>
                </div>
<pre class="prettyprint linenums">
&lt;p&gt;&lt;class="drop-cap lead"&gt;&lt;/p&gt;
</pre>

                <h2>Breakout/bullet lists within the narrative</h2>
                <p>To separate sections of the narrative that are lists or bullets, wrap <code>.pull-out</code> around a <code>p</code> tag(s).</p>
                <div class="bs-docs-example">
                  <article>
                    <p>Aliquam ac augue ac nisi ullamcorper vehicula vel eget tellus. Proin venenatis ullamcorper magna, eget rutrum nunc imperdiet nec. Donec et leo mauris. Pellentesque risus felis, mollis id facilisis at, sollicitudin sit amet augue. Phasellus lobortis ullamcorper odio, eget pharetra neque dictum eget. Morbi dignissim dictum posuere. Aliquam erat volutpat. Nam at massa turpis, et aliquet urna.</p>
                    <div class="pull-out">
                      <p><strong>Nunc diam lectus</strong>, molestie sit amet ultricies sed, molestie ac quam.</p> 
                      <p><strong>Sed et aliquam eros</strong>. Etiam non urna in lorem vehicula interdum eu ac erat. 
                      <p><strong>Sed mauris massa</strong>, elementum sit amet imperdiet non, suscipit id magna. </p>
                      <p><strong>Pellentesque habitant morbi</strong> tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <p>Duis scelerisque, felis in pretium sollicitudin, ligula nibh gravida odio, sit amet pretium lorem justo in lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam non magna metus. Sed auctor tristique condimentum. Ut non elit eget tellus vestibulum mattis.</p>
                  </article>
                </div>
<pre class="prettyprint linenums">
&lt;article class="trib-article"&gt;
  &lt;p&gt;&lt;/p&gt;
  &lt;div class="pull-out"&gt;
  &lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
  &lt;/div&gt;
  &lt;p&gt;&lt;/p&gt; 
&lt;/article&gt;
</pre>
            </section>

            <!-- Media containers
            ================================================== -->

            <section id="media-containers">
              <div class="page-header">
                <h1>media containers</h1>
              </div>
              <h2>Media wrapper</h2>
              <p>A <code>figure</code> element applies to self-contained content, such as photos and captions.</p>
              <div class="bs-docs-example">
                <figure>
                  <h4>This is media content</h4>
                </figure>
              </div>
<pre class="prtyprint linenums">
&lt;figure&gt;
  &lt;h4&gt;t;/h4&gt;
&lt;/figure&gt
</pre>        
              <h3>Other wrapper styles</h3>
              <p><code>figure</code> can also be styled <code>.left-rule</code> when it's necessary to separate similar fonts placed next to each other.</p>
              <div class="bs-docs-example">
                <figure class="left-rule">
                  <h4>This is media content</h4>
                </figure>
              </div>
<pre class="prettyprint linenums">
&lt;figure class="left-rule"&gt;
  &lt;h4&gt;&lt;/h4&gt;
&lt;/figure&gt; 
</pre>
            </section>

            <!-- Photos
            ================================================== -->

            <section id="photos">
              <div class="page-header">
                 <h1>Photos & videos</h1>
              </div>
              <h2>Photo, caption, credit layout</h2>
              <p>A <code>figure</code> element with an <code>img</code>, a caption <code>figcaption</code> and a credit line <code>.media-credit</code>.</p>
              <div class="bs-docs-example">
                <figure class="small-photo">
                  <img src="http://fillmurray.com/g/320/200" >
                  <figcaption>This is a caption about a kitten who likes to be photographed in black and white</figcaption>
                  <figcaption class="media-credit">First Last - Organization</figcaption>
                </figure>
              </div>
<pre class="prettyprint linenums">
&lt;figure&gt;
  &lt;img src=""&gt;
  &lt;figcaption&gt;&lt;/figcaption&gt;
  &lt;figcaption class="media-credit"&gt;&lt;/figcaption&gt;
&lt;/figure&gt;
</pre>
              <h2>Photo sizes</h2>
              <h3><code>.small-photo</code></h3>
              <p>320 x 200</p>
              <div class="bs-docs-example">
                <div class="media-wrapper small-photo">
                  <img src="http://fillmurray.com/g/320/200">
                  <figcaption>This is a caption about a kitten who likes to be photographed in black and white</figcaption>
                  <figcaption class="media-credit">First Last - Organization</figcaption>
                </div>
              </div>
<pre class="prettyprint linenums">
&lt;figure class="small-photo"&gt;
  &lt;img src=""&gt;
  &lt;figcaption&gt;&lt;/figcaption&gt;
  &lt;figcaption class="media-credit"&gt;&lt;/figcaption&gt;
&lt;/figure&gt;
</pre>
                <h3><code>.medium-photo</code></h3>
                <p>500 x 325</p>
                <div class="bs-docs-example">
                  <div class="media-wrapper medium-photo">
                    <img src="http://fillmurray.com/g/500/325">
                    <figcaption>This is a caption about a kitten who likes to be photographed in black and white</figcaption>
                    <figcaption class="media-credit">First Last - Organization</figcaption>
                  </div>
                </div>
<pre class="prettyprint linenums">
&lt;figure class="medium-photo"&gt;
  &lt;img src=""&gt;
  &lt;figcaption&gt;&lt;/figcaption&gt;
  &lt;figcaption class="media-credit"&gt;&lt;/figcaption&gt;
&lt;/figure&gt;
</pre>
                <h3><code>.large-photo</code></h3>
                <p>620 x 450</p>
                <div class="bs-docs-example">
                  <div class="media-wrapper large-photo">
                    <img src="http://fillmurray.com/g/620/450">
                    <figcaption>This is a caption about a kitten who likes to be photographed in black and white</figcaption>
                    <figcaption class="media-credit">First Last - Organization</figcaption>
                  </div>
                </div>
<pre class="prettyprint linenums">
&lt;figure class="large-photo"&gt;
  &lt;img src=""&gt;
  &lt;figcaption&gt;&lt;/figcaption&gt;
  &lt;figcaption class="media-credit"&gt;&lt;/figcaption&gt;
&lt;/figure&gt;
</pre>
                <h2>Responsive video container</h2>
                <p>Wrap the <strong>embedded</strong> video with <code>.video-wrapper</code> to apply a responsive container to the video. To adjust aspect ratio increase or decrease the <code>margin-bottom</code> applied to the <code>iframe</code>, <code>object</code> or <code>embed</code> containing the video. In this case the <code>margin-bottom</code> is <strong>50.7%</strong>.</p>
                <div class="bs-docs-example">
                  <div class="row-fluid">
                    <div class="span8">
                      <div class=" video-wrapper">
                        <iframe width="560" height="315" src="http://www.youtube.com/embed/rnvGWHbPtZ0" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
<pre class="prettyprint linenums">
&lt;div class="video-wrapper"&gt;
  &lt;iframe&gt;&lt;/iframe&gt;
&lt;/div&gt;
</pre>
            </section>

            <!-- Related media
            ================================================== -->

            <section id="related-media">
              <div class="page-header">
                <h1>Related media</h1>
              </div>
              <h2>Text and links</h2>
              <p>Use <code>aside</code> for content that is related to the main article, such as a sidebar, and will display notched in the article. Use <code>.related-content</code> to style an overview of the sidebar and <code>.media-link</code> to apply the link style. The <code>.sublabel</code> class can be used for additional description of the sidebar copy block.</p>
              <div class="bs-docs-example">
                <div class="row-fluid">
                  <div class="span7">
                    <aside>
                      <h3>Related headline</h3>
                      <p class="sublabel">Optional subject description sublabel</p>
                      <p class="related-content">This is information related to the story with more detailed information available elsewhere and that we can link to</p>
                      <p class="text-right"><a href="#" class="media-link">This link goes elsewhere</a></p>    
                    </aside>
                  </div>
                </div>
              </div>     
<pre class="prettyprint linenums">
&lt;aside&gt;
  &lt;h3&gt;&lt;h3&gt;
  &lt;p class="sublabel"&gt;&lt;/p&gt;
  &lt;p class="related-content"&gt;&lt;/p&gt;
  &lt;p class="text-right"&gt;&lt;a href="#" class="media-link"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
</pre>
              <h3>Related content as a link</h3>
              <div class="bs-docs-example">
                <div class="row-fluid">
                  <div class="span7">
                    <aside>
                      <h3>Related headline</h3>
                      <p class="related-content"><a href="" class="media-link">Sed vel leo lorem. Duis risus erat, aliquam at aliquam et, vehicula id ante. Nunc in nibh tellus. Sed eget lacus ac leo mollis suscipit.</a></p>
                    </aside>
                  </div>
                </div>
              </div>
<pre class="prettyprint linenums">
&lt;aside&gt;
  &lt;p class="related-content"&gt;&lt;a href="" class="media-link"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
</pre>
              <h3>Related content as navigation</h3>
              <p>Use <code>.related-feature</code> when related content will not be notched into the narrative, such as a refer to a photo gallery or graphic, but is still related to the main article to drop the borders. </p>
              <div class="bs-docs-example">
                <div class="row-fluid">
                  <div class="span7">
                    <aside class="related-feature">
                      <h3>Related headline</h3>
                      <p class="related-content"><a href="" class="media-link">Sed vel leo lorem. Duis risus erat, aliquam at aliquam et, vehicula id ante. Nunc in nibh tellus. Sed eget lacus ac leo mollis suscipit.</a></p>
                    </aside>
                  </div>
                </div>
              </div>
<pre class="prettyprint linenums">
&lt;aside class="related-feature"&gt;
  &lt;p class="related-content"&gt;&lt;a href="" class="media-link"&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
</pre>
            </section>

            <!-- Integration
            ================================================== -->

            <section id="integration">
              <div class="page-header">
                  <h1>Story asset integration</h1>
              </div>
              <h2>Notched media</h2>
              <p>To integrate story assets with the main narrative, wrap a <code>figure</code> in a div with class <code>.trib-media</code>, which will notch the content into the story paragraphs.</p>
              <div class="bs-docs-example">
                <article>
                  <p>Morbi iaculis erat egestas turpis rhoncus pharetra. Suspendisse potenti. Nunc bibendum fringilla mi, sed suscipit mi feugiat a. Vestibulum tincidunt congue ornare. Proin sit amet mi nunc. Quisque tellus quam, faucibus vitae sagittis sit amet, consequat ut quam. Vestibulum sodales lacus in ligula aliquet congue. Ut dictum, enim at consectetur ullamcorper, tellus leo convallis odio, ut tempor sem nisi at ante.</p>
                  <div class="trib-media">
                    <figure class="medium-photo">
                      <img src="http://fillmurray.com/g/500/325">
                      <figcaption>This is a caption about a kitten who likes to be photographed in black and white</figcaption>
                      <figcaption class="media-credit">First Last - Organization</figcaption>
                    </figure>
                  </div>
                  <p>Aliquam ac augue ac nisi ullamcorper vehicula vel eget tellus. Proin venenatis ullamcorper magna, eget rutrum nunc imperdiet nec. Donec et leo mauris. Pellentesque risus felis, mollis id facilisis at, sollicitudin sit amet augue. Phasellus lobortis ullamcorper odio, eget pharetra neque dictum eget. Morbi dignissim dictum posuere. Aliquam erat volutpat. Nam at massa turpis, et aliquet urna.</p>
                  <p>Duis scelerisque, felis in pretium sollicitudin, ligula nibh gravida odio, sit amet pretium lorem justo in lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam non magna metus. Sed auctor tristique condimentum. Ut non elit eget tellus vestibulum mattis.</p>
                </article>
              </div>
<pre class="prettyprint linenums">
&lt;article&gt;
  &lt;p&gt;&lt;/p&gt;
  &lt;div class="trib-media"&gt;
    &lt;figure class="medium-photo"&gt;
      &lt;img src="" class="trib-img"&gt;
      &lt;figcaption&gt;&lt;/figcaption&gt;
      &lt;figcaption class="media-credit"&gt;&lt;/figcaption&gt;
    &lt;/figure&gt;
  &lt;/div&gt;
  &lt;p&gt;&lt;/p&gt;
&lt;/article&gt;

</pre>

              <h2>Flush notched media</h2>
              <p>To get the media to sit flush with the right edge of the text, add <code>flush</code> to your div with class <code>trib-media</code>.</p>
              <div class="bs-docs-example">
                <article>
                  <p>Morbi iaculis erat egestas turpis rhoncus pharetra. Suspendisse potenti. Nunc bibendum fringilla mi, sed suscipit mi feugiat a. Vestibulum tincidunt congue ornare. Proin sit amet mi nunc. Quisque tellus quam, faucibus vitae sagittis sit amet, consequat ut quam. Vestibulum sodales lacus in ligula aliquet congue. Ut dictum, enim at consectetur ullamcorper, tellus leo convallis odio, ut tempor sem nisi at ante.</p>
                  <div class="trib-media flush">
                    <figure class="small-photo">
                      <img src="http://fillmurray.com/g/320/200" class="trib-img">
                      <figcaption>This is a caption about a kitten who likes to be photographed in black and white</figcaption>
                      <figcaption class="media-credit">First Last - Organization</figcaption>
                    </figure>
                  </div>
                  <p>Aliquam ac augue ac nisi ullamcorper vehicula vel eget tellus. Proin venenatis ullamcorper magna, eget rutrum nunc imperdiet nec. Donec et leo mauris. Pellentesque risus felis, mollis id facilisis at, sollicitudin sit amet augue. Phasellus lobortis ullamcorper odio, eget pharetra neque dictum eget. Morbi dignissim dictum posuere. Aliquam erat volutpat. Nam at massa turpis, et aliquet urna.</p>
                  <p>Duis scelerisque, felis in pretium sollicitudin, ligula nibh gravida odio, sit amet pretium lorem justo in lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam non magna metus. Sed auctor tristique condimentum. Ut non elit eget tellus vestibulum mattis.</p>
                </article>
              </div>
<pre class="prettyprint linenums">
&lt;article&gt;
  &lt;p&gt;&lt;/p&gt;
  &lt;div class="trib-media flush"&gt;
    &lt;figure class="small-photo"&gt;
     &lt;img src="" class="trib-img"&gt;
     &lt;figcaption&gt;&lt;/figcaption&gt;
     &lt;figcaption class="media-credit"&gt;&lt;/figcaption&gt;
    &lt;/figure&gt;
  &lt;/div&gt;
  &lt;p&gt;&lt;/p&gt;
&lt;/article&gt;

</pre>

            </section>

            <!-- Bylines and credits
            ================================================== -->

            <section id="credits-bylines">
              <div class="page-header">
                <h1>Bylines, Credits and Sourcing</h1>
              </div>
              <h2>Bylines</h2>
              <p>Story/article byline style</p>
              <div class="bs-docs-example">
                <div>
                  <p class="byline">By Trib Apps <a href="https://twitter.com/tribapps" class="twitter-follow-button" data-show-count="false">Follow @tribapps</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>&nbsp|&nbsp&nbspTribune reporter</p>
                  <time>Month Day, Year</time>
                </div>
              </div>
<pre class="prettyprint linenums">
&lt;div&gt;   
  &lt;p class="byline"&gt;&lt;By Trib Apps&lt;Twitter handle&lt;/p&gt;
  &lt;time&gt;Month Day, Year&lt;/time&gt;
&lt;/div&gt;  
</pre>        
              
              <h2>Credits</h2>
              <p>Credits go at the bottom of the page and used in projects with a smaller team and produced mostly by one department. It should include bylines and organization.</p>
              <div class="bs-docs-example">
                <p class="credits">By First Last, First Last and First Last - Chicago Tribune</p>
              </div>
<pre class="prettyprint linenums">
&lt;p class="credits"&gt;&lt;/p&gt;
</pre>        
              <h3>Project credits box</h3>
              <p>Use a project credits box when bylines from multiple departments should appear. This style of credit box should be reserved for larger projects.</p>
              <div class="bs-docs-example">
                <div class="row-fluid">
                  <div class="span12 credits-box">
                    <h2 class="credits-title">Credits</h2>
                    <div class="row-fluid">
                      <div class="span6">
                        <p class="byline credits-cat">Reporting</p>
                      </div>
                      <div class="span6">
                        <p class="byline">First Last and First Last</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <div class="span6">
                        <p class="byline credits-cat">Photography</p>
                      </div>
                      <div class="span6">
                        <p class="byline">First Last and First Last</p>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <div class="span6">
                        <p class="byline credits-cat">Applications & Design</p>
                      </div>
                      <div class="span6">
                        <p class="byline">First Last, First Last and First Last</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<pre class="prettyprint linenums">
&lt;div class="row-fluid"&gt;
  &lt;div class="span12 credits-box"&gt;
  &lt;h2 class="credits-title"&gt;/h2&gt;
  &lt;div class="row-fluid"&gt;
    &lt;div class="span6"&gt;
      &lt;p class="byline credits-cat"&gt;&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="span6"&gt;
      &lt;p class="byline credits-cat"&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;  
</pre>        
              
              <h2>Source and credits</h2>
              <p></p>
              <div class="bs-docs-example">
                  <div class="credits">
                      <p>Source: Where did the information come from?</p>
                      <p>By <span class="caps">First Last</span>, <span class="caps">First Last</span> and <span class="caps">First Last</span> - <span class="caps">Chicago Tribune</span></p>
                  </div>
              </div>
<pre class="prettyprint linenums">
&lt;div class="credits"&gt;
    &lt;p&gt;&lt;/p&gt;
    &lt;p&gt;&lt;span class="caps"&gt;&lt;/span&gt;&lt;/p&gt;
&lt;/div&gt;
</pre>
            </section>

            <!-- Tables
            ================================================== -->

            <section id="tables">
                <div class="page-header">
                    <h1>Tables</h1>
                </div>
                <h2>Fixed table header</h2>
                <p>Explanation of javascript that fixes the table head that's not from bootstrap.</p>
                <div class="bs-docs-example">
                    <table>

                    </table>
                </div>
            </section>
            
            <!-- Icons
            ================================================== -->

            <section id="icons">
                <div class="page-header">
                    <h1>Iconography</h1>
                </div>
                <h2></h2>
                <p></p>
            <ul class="the-icons clearfix">
              <li><i class="cticon-edit"></i> cticon-edit</li>
              <li><i class="cticon-pintrest"></i> cticon-pintrest</li>
              <li><i class="cticon-comment"></i> cticon-comment</li>
              <li><i class="cticon-refresh"></i> cticon-refresh</li>
              <li><i class="cticon-back"></i> cticon-back</li>
              <li><i class="cticon-facebook"></i> cticon-facebook</li>
              <li><i class="cticon-gplus"></i> cticon-gplus</li>
              <li><i class="cticon-linkedin"></i> cticon-linkedin</li>
              <li><i class="cticon-gear"></i> cticon-gear</li>
              <li><i class="cticon-check"></i> cticon-check</li>
              <li><i class="cticon-link"></i> cticon-link</li>
              <li><i class="cticon-mail"></i> cticon-mail</li>
              <li><i class="cticon-starburst"></i> cticon-starburst</li>
              <li><i class="cticon-print"></i> cticon-print</li>
              <li><i class="cticon-plusone"></i> cticon-plusone</li>
              <li><i class="cticon-rss"></i> cticon-rss</li>
              <li><i class="cticon-share"></i> cticon-share</li>
              <li><i class="cticon-twitter"></i> cticon-twitter</li>
              <li><i class="cticon-stumble"></i> cticon-stumble</li>
              <li><i class="cticon-user"></i> cticon-user</li>
              <li><i class="cticon-flag"></i> cticon-flag</li>
              <li><i class="cticon-grid"></i> cticon-grid</li>
              <li><i class="cticon-linkout"></i> cticon-linkout</li>
              <li><i class="cticon-fullscreen"></i> cticon-fullscreen</li>
              <li><i class="cticon-video"></i> cticon-video</li>
              <li><i class="cticon-gallery"></i> cticon-gallery</li>
              <li><i class="cticon-file"></i> cticon-file</li>
              <li><i class="cticon-broadcast"></i> cticon-broadcast</li>
              <li><i class="cticon-camera"></i> cticon-camera</li>
              <li><i class="cticon-reddit"></i> cticon-reddit</li>
              <li><i class="cticon-digg"></i> cticon-digg</li>
              <li><i class="cticon-menu"></i> cticon-menu</li>
              <li><i class="cticon-lock"></i> cticon-lock</li>
              <li><i class="cticon-bull"></i> cticon-bull</li>

              <li><i class="cticon-chevron-left"></i> cticon-chevron-left</li>
              <li><i class="cticon-chevron-right"></i> cticon-chevron-right</li>
              <li><i class="cticon-chevron-med-left"></i> cticon-chevron-med-left</li>
              <li><i class="cticon-chevron-med-right"></i> cticon-chevron-med-right</li>
              <li><i class="cticon-chevron-hair-left"></i> cticon-chevron-hair-left</li>
              <li><i class="cticon-chevron-hair-right"></i> cticon-chevron-hair-right</li>

              <li><i class="cticon-left"></i> cticon-left</li>
              <li><i class="cticon-right"></i> cticon-right</li>
              <li><i class="cticon-up"></i> cticon-up</li>
              <li><i class="cticon-down"></i> cticon-down</li>

              <li><i class="cticon-search"></i> cticon-search</li>
              <li><i class="cticon-search-med"></i> cticon-search-med</li>
              <li><i class="cticon-search-hair"></i> cticon-search-hair</li>

              <li><i class="cticon-close"></i> cticon-close</li>
              <li><i class="cticon-close-med"></i> cticon-close-med</li>
              <li><i class="cticon-close-hair"></i> cticon-close-hair</li>

              <li><i class="cticon-triangle-down"></i> cticon-triangle-down</li>
              <li><i class="cticon-triangle-up"></i> cticon-triangle-up</li>
              <li><i class="cticon-triangle-left"></i> cticon-triangle-left</li>
              <li><i class="cticon-triangle-right"></i> cticon-triangle-right</li>

              <li><i class="cticon-thumbs-up"></i> cticon-thumbs-up</li>
              <li><i class="cticon-thumbs-down"></i> cticon-thumbs-down</li>

              <li><i class="cticon-circle-left"></i> cticon-circle-left</li>
              <li><i class="cticon-circle-right"></i> cticon-circle-right</li>
            </ul>
            </section>

            <!-- Colors
            ================================================== -->

            <section id="colors">
                <div class="page-header">
                    <h1>Colour</h1>
                </div>
                <h2>NGUX blues and grays</h2>
                <div class="bs-docs-example">
                    <div class="row-fluid">
                        <div class="span6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="swatch blueDarkest">#0D1123</td>
                                        <td class="sublabel">Darkest blue</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch blueDarker">#12182D</td>
                                        <td class="sublabel">Darker blue</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch blueDark">#17274A</td>
                                        <td class="sublabel">Dark blue</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch blue">#0D3058</td>
                                        <td class="sublabel">Trib Blue</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch blueLight">#144A7C</td>
                                        <td class="sublabel">Light blue</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch blueLighter">#549ac4</td>
                                        <td class="sublabel">Lighter blue</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch blueLightest">#C7D9E9</td>
                                        <td class="sublabel">Lightest blue</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="swatch black">#1A1A1A</td>
                                        <td class="sublabel">Black</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch grayDarker">#2b2b2b</td>
                                        <td class="sublabel">Darker Gray</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch grayDark">#333333</td>
                                        <td class="sublabel">Dark Gray</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch gray">#666666</td>
                                        <td class="sublabel">Gray</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch grayLight">#999999</td>
                                        <td class="sublabel">Light Gray</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch grayLighter">#D0D0D0</td>
                                        <td class="sublabel">Lighter Gray</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch grayVeryLight">#EEEEEE</td>
                                        <td class="sublabel">Very Light Gray</td>
                                    </tr>
                                    <tr>
                                        <td class="swatch white">#fbfcfc</td>
                                        <td class="sublabel">White</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
                <h2>For information</h2>
                <p>Use these color ramps for displaying/keying data or other information</p>
                <div class="bs-docs-example">
                    <div class="row-fluid">
                        <div class="span3">
                            <h4>Greens</h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="tribgreendark">#4E8975</td>
                                        <td class="sublabel">Dark Green</td>
                                    </tr>
                                    <tr>
                                        <td class="tribgreen">#4E9258</td>
                                        <td class="sublabel">Green</td>
                                    </tr>
                                    <tr>
                                        <td class="tribgreenlite">#8BB381</td>
                                        <td class="sublabel">Lite Green</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span3">
                            <h4>Blues</h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="tribbluedark">#C8B560</td>
                                        <td class="sublabel">Dark Blue</td>
                                    </tr>
                                    <tr>
                                        <td class="Blue">#4c7dae</td>
                                        <td class="sublabel">Blue</td>
                                    </tr>
                                    <tr>
                                        <td class="tribbluelight">#659EC7</td>
                                        <td class="sublabel">Light Blue</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span3">
                            <h4>Reds</h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="tribreddark">#2B547E</td>
                                        <td class="sublabel">Dark red</td>
                                    </tr>
                                    <tr>
                                        <td class="tribred">#C34A2C</td>
                                        <td class="sublabel">Red</td>
                                    </tr>
                                    <tr>
                                        <td class="tribredlite">#E77471</td>
                                        <td class="sublabel">Light Red</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span3">
                            <h4>Other</h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="tribyellow">#C8B560</td>
                                        <td class="sublabel">Yellow</td>
                                    </tr>
                                    <tr>
                                        <td class="tribyellowlite">#ECD872</td>
                                        <td class="sublabel">Lite Yellow</td>
                                    </tr>
                                    <tr>
                                        <td class="tribpurple">#7E587E</td>
                                        <td class="sublabel">Purple</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
            </section>

            <!-- Ads
            ================================================== -->

            <section id="ads">
                <div class="page-header">
                    <h1>Ads</h1>
                </div>
                <h2>How it works</h2>
                <p>Our current ad JS is located at <a href="http://media.apps.chicagotribune.com/ads/v1/ads.js">http://media.apps.chicagotribune.com/ads/v1/ads.js</a>. You're going to load that script and some dependencies, create one or more elements to contain the actual ads with the <code>advert-wrapper</code> class, make sure to serve an <a href="http://media.apps.chicagotribune.com/ads/v1/ad-iframe.html">ad-iframe.html file</a> from the same domain you're on, include a brief template somewhere on the page, run a line of JS and set the ad-path in order to get the right inventory displayed. Easy enough! (It's easier than it sounds, promise :)</p>
								<h3>Dependencies</h3>
								<p>You'll need to include the following, in order:</p>
<pre class="prettyprint linenums">
&lt;script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="//media.apps.chicagotribune.com/ads/v1/ads.js"&gt;&lt;/script&gt;
</pre>
								<p>You'll also need to include an <a href="http://media.apps.chicagotribune.com/ads/v1/ad-iframe.html">ad-iframe.html</a> file served from the same domain your app will be running on. The easiest way to do this is probably to make a copy of that file and include it directly in your repo.</p>
								
								<h3>Create an ad container</h3>
								<p>This is just a straightforward div (or other DOM element) with the <code>advert-wrapper</code> class, meant to be the placeholder for the actual ad, which will get imported via Backbone and the ad-iframe.html file. For instance:
								<br><br><code>&lt;div class="advert-wrapper"&gt;&lt;/div&gt;</code>
								<br><br>And if you'd like a cube ad instead:
								<br><br><code>&lt;div class="advert-wrapper" data-ad-type="cube"&gt;&lt;/div&gt;</code>
								
								<h3>Include a template</h3>
								<p>You need to include a brief template on the page that governs how the ads are presented (for instance, if you want to include the word "Advertisement" below each ad or something). The basic template looks like this:
								<br>
<pre class="prettyprint linenums">
&lt;script type="text/template" id="advert-template"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="advert-inner-wrapper"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;iframe width="&lt;%= width %&gt;" height="&lt;%= height %&gt;" scrolling="no" frameBorder="0"&gt;&lt;/iframe&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&lt;/script&gt;
</pre>
								<h3>Load the ads and set the ad path</h3>
								<p>We're almost done! All you need to do now is wait for document.ready and run the following JS to load the ads and set the proper ad path (replacing {{ ad_path }} with the correct one for your app, of course):
								<br>
<pre class="prettyprint linenums">
$('.advert-wrapper').each(function() {
&nbsp;&nbsp;&nbsp;&nbsp;new AdvertView({ el: $(this), path: '{{ ad_path }}' });
});
</pre>
            </section>
        </div>
      </div>
    </div>
