<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{_i}}Getting started{{/i}}</h1>
    <p class="lead">{{_i}}You should start with a simple template, or maybe an example or two.{{/i}}</p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#html-template"><i class="icon-chevron-right"></i> {{_i}}HTML template{{/i}}</a></li>
          <li><a href="#examples"><i class="icon-chevron-right"></i> {{_i}}Examples{{/i}}</a></li>
        </ul>
      </div>
      <div class="span9">


        <!-- HTML template
        ================================================== -->
        <section id="html-template">
          <div class="page-header">
            <h1>{{_i}}1. Basic HTML template{{/i}}</h1>
          </div>
<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
    &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;
    &lt;meta http-equiv="Content-Language" content="en"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"&gt;

    &lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"&gt;&lt;/script&gt;

    &lt;link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/media.apps.chicagotribune.com/bootstrap/v2.3.2-ctredesign.3/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/media.apps.chicagotribune.com/bootstrap/v2.3.2-ctredesign.3/css/bootstrap-responsive.min.css"&gt;
    &lt;script src="//s3.amazonaws.com/media.apps.chicagotribune.com/bootstrap/v2.3.2-ctredesign.3/js/bootstrap.min.js"&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>
        </section>



        <!-- Examples
        ================================================== -->
        <section id="examples">
          <div class="page-header">
            <h1>{{_i}}2. Examples{{/i}}</h1>
          </div>
          <p class="lead">{{_i}}Move beyond the base template with a few example layouts. We encourage folks to iterate on these examples and not simply use them as an end result.{{/i}}</p>
          <ul class="thumbnails bootstrap-examples">
            <li class="span3">
              <a class="thumbnail" href="examples/tribune-template.html">
                <img src="assets/img/examples/bootstrap-example-tribune.png" alt="">
              </a>
              <h4>{{_i}}Tribune template{{/i}}</h4>
              <p>{{_i}}An HTML template with a nav, footer, suggested meta tags and analytics.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/starter-template.html">
                <img src="assets/img/examples/bootstrap-example-starter.png" alt="">
              </a>
              <h4>{{_i}}Starter template{{/i}}</h4>
              <p>{{_i}}A barebones HTML document with all the Bootstrap CSS and JavaScript included.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/hero.html">
                <img src="assets/img/examples/bootstrap-example-marketing.png" alt="">
              </a>
              <h4>{{_i}}Basic marketing site{{/i}}</h4>
              <p>{{_i}}Featuring a hero unit for a primary message and three supporting elements.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/fluid.html">
                <img src="assets/img/examples/bootstrap-example-fluid.png" alt="">
              </a>
              <h4>{{_i}}Fluid layout{{/i}}</h4>
              <p>{{_i}}Uses our new responsive, fluid grid system to create a seamless liquid layout.{{/i}}</p>
            </li>

            <li class="span3">
              <a class="thumbnail" href="examples/marketing-narrow.html">
                <img src="assets/img/examples/bootstrap-example-marketing-narrow.png" alt="">
              </a>
              <h4>{{_i}}Narrow marketing{{/i}}</h4>
              <p>{{_i}}Slim, lightweight marketing template for small projects or teams.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/justified-nav.html">
                <img src="assets/img/examples/bootstrap-example-justified-nav.png" alt="">
              </a>
              <h4>{{_i}}Justified nav{{/i}}</h4>
              <p>{{_i}}Marketing page with equal-width navigation links in a modified navbar.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/signin.html">
                <img src="assets/img/examples/bootstrap-example-signin.png" alt="">
              </a>
              <h4>{{_i}}Sign in{{/i}}</h4>
              <p>{{_i}}Barebones sign in form with custom, larger form controls and a flexible layout.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/sticky-footer.html">
                <img src="assets/img/examples/bootstrap-example-sticky-footer.png" alt="">
              </a>
              <h4>{{_i}}Sticky footer{{/i}}</h4>
              <p>{{_i}}Pin a fixed-height footer to the bottom of the user's viewport.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/carousel.html">
                <img src="assets/img/examples/bootstrap-example-carousel.png" alt="">
              </a>
              <h4>{{_i}}Carousel jumbotron{{/i}}</h4>
              <p>{{_i}}A more interactive riff on the basic marketing site featuring a prominent carousel.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/story-page.html">
                <img src="assets/img/examples/bootstrap-example-story-page.png" alt="">
              </a>
              <h4>{{_i}}News story page template{{/i}}</h4>
              <p>{{_i}}An HTML template with social media, story elements and an integrated image.{{/i}}</p>
            </li>
            <li class="span3">
              <a class="thumbnail" href="examples/landing-page-top.html">
                <img src="assets/img/examples/bootstrap-example-landing-page-top.png" alt="">
              </a>
              <h4>{{_i}}News project landing page top{{/i}}</h4>
              <p>{{_i}}An HTML template with social media, nav, intro and space for a unique series topper.{{/i}}</p>
            </li>
          </ul>
        </section>




        <!-- Next
        ================================================== -->
        <section id="what-next">
          <div class="page-header">
            <h1>{{_i}}What next?{{/i}}</h1>
          </div>
          <p class="lead">{{_i}}Head to the docs for information, examples, and code snippets, or take the next leap and customize Bootstrap for any upcoming project.{{/i}}</p>
          <a class="btn btn-large btn-primary" href="./scaffolding.html" {{#production}}onclick="_gaq.push(['_trackEvent', 'Getting started', 'Next steps', 'Visit docs']);"{{/production}}>{{_i}}Visit the Bootstrap docs{{/i}}</a>
          <a class="btn btn-large" href="./customize.html" style="margin-left: 5px;" {{#production}}onclick="_gaq.push(['_trackEvent', 'Getting started', 'Next steps', 'Customize']);"{{/production}}>{{_i}}Customize Bootstrap{{/i}}</a>
        </section>




      </div>{{! /span9 }}
    </div>{{! row}}

  </div>{{! /.container }}
