<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}Chicago Tribune Bootstrap{{/i}}</h1>
    <p>{{_i}}For making websites, not newspapers.{{/i}}</p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/twitter/bootstrap" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production}}>{{_i}}GitHub project{{/i}}</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);"{{/production}}>{{_i}}Examples{{/i}}</a>
      </li>
      <li>
        <a href="./extend.html" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);"{{/production}}>{{_i}}Extend{{/i}}</a>
      </li>
      <li>
        {{_i}}Version 2.3.2-ct.1{{/i}}
      </li>
    </ul>
  </div>
</div>

<div class="container">
<div class="row"><div class="span12">
  <h2>How to add this to your project:</h2>
    <pre>
    &lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"&gt;&lt;/script&gt;

    &lt;link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/media.apps.chicagotribune.com/bootstrap/v2.3.2-ct.1/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/media.apps.chicagotribune.com/bootstrap/v2.3.2-ct.1/css/bootstrap-responsive.min.css"&gt;
    &lt;script src="//s3.amazonaws.com/media.apps.chicagotribune.com/bootstrap/v2.3.2-ct.1/js/bootstrap.min.js"&gt;&lt;/script&gt;
    </pre>
</div></div>
</div>
